/* .svg-2 {
  position: absolute;
  top: 1000px;
  z-index: -1;
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  /* border: 1px solid red; */
/* } */ 

.svg-2 {
  position: absolute;
  top: 1000px;
  /* z-index: -1; */
  overflow: hidden;
}

.svg-3 {
  position: absolute;
  /* z-index: -1; */
  top: 2750px;
  overflow: hidden;

}

.svg-4 {
  position: absolute;
  /* z-index: -1; */
  top: 6500px;
  width: 100%;
  height: auto;
  overflow: hidden;
}